@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");

:root {
  --primary-color: #ece5e5;
  --border-radius: 5px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--primary-color);
}

h1 {
  font-family: "Merriweather", serif;
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
  width: 275px;
  margin: 20px auto 10px;
  user-select: none;
  text-align: center;
}

h1:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Bookmark container */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 10px;
}

.item:hover {
  background: rgba(0, 0, 0, 0.5);
}

a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.fa-window-close {
  float: right;
  cursor: pointer;
  z-index: 2;
}

.name {
  margin-top: 30px;
  margin-right: 20px;
}

.name img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  vertical-align: sub;
}

/* Modal */
.modal-container {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 95%;
  width: 500px;
  animation: modalopen 1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#close-modal {
  float: right;
  color: rgba(0, 0, 0, 0.5);
  font-size: 25px;
  position: relative;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#close-modal:hover {
  color: rgba(0, 0, 0, 0.8);
}

.modal-header {
  background: rgba(52, 224, 158, 0.5);
  color: rgb(0, 0, 0);
  padding: 10px;
}

h3 {
  margin: 0;
  text-align: center;
}

.modal-content {
  padding: 20px;
  background: whitesmoke;
}

/* Form */
.form-group {
  height: 70px;
}

.form-input {
  width: 96%;
  padding: 5px;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  display: block;
  outline: none;
}

.form-label {
  color: black;
  display: block;
  margin: 5px;
}

button {
  cursor: pointer;
  color: black;
  background: var(--primary-color);
  height: 30px;
  width: 100px;
  border: none;
  border-radius: var(--border-radius);
  margin-top: 10px;
}

button:hover {
  filter: brightness(90%);
}

button:focus {
  outline: none;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
