@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');


:root {
  --primary-color: #ece5e5;
  --border-radius: 5px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--primary-color);
}

h1 {
  font-family: 'Merriweather', serif;
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
  width: 275px;
  margin: 20px auto 10px;
  user-select: none;
  text-align: center;
}

h1:hover {
  background: rgba(0, 0, 0, 0.8);
}